<footer class="page-footer purple-bg-lighten">
    <div class="footer-copyright purple-bg">
        <div class="container">
            <p>&COPY; <a href="http://happykampgames.com/">Happy Kamp</a> - 2019</p>
        </div>
    </div>
</footer>