<main class="valign-wrapper" itemscope itemtype="http://schema.org/Game">
    <div class="container grey-text text-lighten-1 ">

        <div class="row">
            <div class="col s12 m8">
                <div class="brand">
                    <img src="assets/img/logo.png?v=<%- VERSION %>" alt="Words Tour Collapse Word Stacks - Icon"
                         class="icon">
                    <div class="heading">
                        <h1 class="title white-text">Words Tour</h1>
                        <h2 class="subtitle white-text">Collapse Word Stacks!</h2>
                    </div>
                </div>

                <p class="flow-text white-text justify-align">
                  Words Tour is a BRAND NEW multi-language addictive word game that many people are talking about  these days. Exercise your brain by finding words and swipe your finger to collapse word stacks in vivid environments for FREE!
                </p>

                <div class="center-align download-btns">

                    <a href="https://redirect.appmetrica.yandex.com/serve/746865388423304968">
                        <img src="assets/img/btn/appstore.png?v=<%- VERSION %>"
                             alt="Words Tour iOS Download Button">
                    </a>
<!--

                    <a href="#">
                        <img src="assets/img/btn/playstore.jpg?v=<%- VERSION %>" alt="Words Tour Android Download Button">
                    </a>
-->
                </div>

            </div>

            <div class="col s12 m4">

                <div class="screenshot">
                    <img src="assets/img/wordstour.png?v=<%- VERSION %>"
                         alt="Words Tour: Collapse Word Stacks - Gameplay Screenshot">
                </div>

            </div>
        </div>

    </div>
</main>
